.about {
  &__container {
    display: flex;
    position: relative;
    min-height: rem(650px);
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(../img/leaf_pattern.png) left center no-repeat;
    @include tablets {
      min-height: rem(1000px);
    }
    &:before {
      content: "";
      position: absolute;
      background: url(../img/malina.png) no-repeat;
      width: rem(161px);
      height: rem(315px);
      left: 0;
      bottom: rem(-108px);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include tablets {
      height: 100%;
      justify-content: space-evenly;
    }
  }

  &__chocco {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 42%;
    margin-bottom: rem(55px);
    @include tablets {
      width: 60%;
      margin-bottom: 0;
    }

    &-title {
      @include title;
      margin-bottom: rem(12px);
    }

    &-text {
      font-family: 'alegreya';
      font-size: rem(18px);
      color: $gray;
      font-style: normal;
      font-weight: 400;
      text-align: center;
      margin: 0;
      line-height: 1.15;
    }

  }

  &__qualities {
    display: flex;
    justify-content: space-evenly;
    @include tablets {
      flex-direction: column;
      width: 56%;
      @include tablets {
        width: 65%;
      }
    }

    &-item {
      display: flex;
      position: relative;
      flex-basis: 25%;
      flex-direction: column;
      align-items: center;

      &:after {
        content: "";
        position: absolute;
        background: url(../img/points.png) no-repeat;
        width: rem(67px);
        height: rem(21px);
        left: rem(285px);
        top: rem(50px);
        @include tablets {
          display: none;
        }
      }

      &:last-child:after {
        display: none;
      }

      &-desc {
        text-align: center;

        h3 {
          font-family: 'alegreya';
          font-size: rem(27px);
          color: $darkblack;
          font-style: normal;
          font-weight: 400;
          margin-bottom: rem(21px);
        }

        p {
          font-family: 'alegreya';
          font-size: rem(18px);
          color: $gray;
          font-style: normal;
          font-weight: 300;
          line-height: 1.25;
          margin: 0;
        }
      }

      &-img {
        display: flex;
        width: rem(125px);
        height: rem(125px);
        justify-content: center;
        align-items: center;
        background: $cream;
        border-radius: 50%;
        margin-bottom: 30px;
      }

      &-pic {
        width: rem(75px);
        height: rem(75px);
          fill:none;
          stroke:$darkblack;
          stroke-width:0.75;
          stroke-miterlimit:10;
      }
    }
  }
}