.bar {
  background-color: $creamy;
  height: 100%;

  &__container {
    display: flex;
    position: relative;
    min-height: rem(650px);
    height: 100%;
    // height: 100vh;

    @include tablets {
      min-height: 0;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      background: url(../img/bar_pattern.png);
      width: rem(196px);
      height: rem(578px);
      right: 0;
      bottom: rem(-300px);

      @include phones {
        width: 25vw;
        height: 90%;
        background-size: contain;
        background-repeat: no-repeat;
        bottom: -70vh;
      }
    }

    @include tablets {
      min-height: 0;
    }
  }

  &__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
  }
  
  &__list {
    display: flex;
    position: relative;
    min-height: 100%;
    @include phones {
      min-width: 100%;
    }
  }

  &__prev-link {
    display: block;
    position: relative;
    width: rem(30px);
    height: rem(30px);

    @include tablets {
      position: absolute;
      left: 14vw;
    }

    @include phones {
    }

    &:before {
      content: "";
      position: absolute;
      display: block;
      width: rem(21px);
      height: rem(21px);
      border: rem(3px) solid transparent;
      border-left-color: $black;
      border-bottom-color: $black;
      border-right-width: 0;
      border-top-width: 0;
      border-radius: rem(5px);
      transform: rotate(45deg);
      top: rem(3px);
      left: rem(7px);

      @include phones {
        width: rem(14px);
        height: rem(14px);
        border-width: rem(2px);
        top: rem(6px);
        left: rem(6px);
      }
    }
  }

  &__prev-block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 10%;
    z-index: 15;

    @include tablets {
      height: 50%;
      width: 0;
    }    
  }

  &__next-link {
    display: block;
    position: relative;
    width: rem(30px);
    height: rem(30px);

    @include tablets {
      position: absolute;
      right: 14vw;
    }

    &:before {
      content: "";
      display: block;
      position: absolute;
      width: rem(21px);
      height: rem(21px);
      border: rem(3px) solid transparent;
      border-right-color: $black;
      border-top-color: $black;
      border-left-width: 0;
      border-bottom-width: 0;
      border-radius: rem(5px);
      transform: rotate(45deg);
      top: rem(3px);
      right: rem(7px);

      @include phones {
        width: rem(14px);
        height: rem(14px);
        border-width: rem(2px);
        top: rem(6px);
        right: rem(6px);
      }
    }
  }

  &__next-block {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 10%;
    z-index: 10;

    @include tablets {
      height: 50%;
      width: 0;
    }

  }

  &__item {
    display: flex;
    min-width: 100%;
    z-index: 5;

    &:first-child {
      z-index: 10;
    }

    @include tablets {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    @include phones {
    }
  }

  &__img {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: url(../img/leafs_bar.png) center center no-repeat;
    background-size: contain;

    @include tablets {
      height: 50%;
      width: 80%;
    }
  }

  &__icon {
    fill: $white;
    margin-bottom: rem(5px);

    @include phones {
      margin-bottom: rem(2px);
      width: rem(40.8px);
      height: rem(37.6px);
    }
  }

  &__title {
    font-family: 'alegreya';
    font-style: italic;
    font-weight: 800;
    font-size: rem(14px);
    color: $white;

    @include phones {
      font-size: 1.5vh;
    }
  }

  &__desc {
    display: flex;
    position: relative;
    width: 50%;
    flex-direction: column;
    justify-content: center;

    @include tablets {
      height: 50%;
      width: 85%;
    }

    &-title {
      font-family: 'alegreya';
      font-weight: 600;
      font-size: rem(36px);
      line-height: 1.3;
      color: $black;
      margin-bottom: rem(20px);

      @include tablets {
        text-align: center;
      }

      @include phones {
        font-size: 4vh;
        margin-bottom: rem(10px);
      }
    }

    &-text {
      margin: 0;
      line-height: 1.3;
      font-family: 'alegreya';
      font-weight: 400;
      font-size: rem(18px);
      color: $gray;
      margin-bottom: rem(40px);

      @include tablets {
        text-align: center;
      }

      @include phones {
        font-size: 2.5vh;
        margin-bottom: rem(10px);
      }
    }

    &-item {
      margin-right: rem(23px);

      &:last-child {
        margin-right: 0;
      }
    }

    &-item-title {
      font-family: 'alegreya';
      font-weight: 400;
      font-size: rem(18px);
      color: $graybar;
      margin-bottom: rem(5px);

      @include phones {
        font-size: 2.5vh;
      }
    }

    &-item-value {
      font-family: 'alegreya';
      font-weight: 600;
      font-size: rem(18px);
      color: $graybar;

      @include phones {
        font-size: 2.5vh;
      }
    }

    &-order {
      display: flex;
      align-items: center;

      @include tablets {
        justify-content: center;
      }
    }

    &-price {
      font-family: 'alegreya';
      font-weight: 300;
      font-size: rem(60px);
      color: $black;
      margin-right: rem(32px);

      @include phones {
        font-size: 6vh;
      }
    }

    &-button {
      color: $white;
      background-color: $green;
      border-width: 0;

      @include phones {
        padding: 2.4vh 3.4vh 2.2vh 3.5vh;
        border-radius: 3.26vh;
        font-size: 1.9vh;
      }
    }

    &-param {
      display: flex;
      margin-bottom: rem(40px);

      @include tablets {
        justify-content: center;
      }

      @include phones {
        font-size: 3vh;
        margin-bottom: rem(10px);
      }
    }

    &-ingridients {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: rem(90px);
      height: rem(90px);
      background-color: $lightblue;
      border-radius: rem(4px);
      transition: background-color .4s;
      margin-bottom: rem(40px);

      @include tablets {
        position: absolute;
        top: -97%;
        right: rem(25px);
      }

      @include phones {
        width: rem(60px);
        height: rem(60px);
        right: rem(-20px);
        margin-bottom: 0;
      }

      &:hover {
        background-color: $blue;
        transition: background-color .4s;
        cursor: pointer;

        .bar__ingridients-list {
          left: 100%;
          top: 0;
          opacity: 1;

          @include tablets{
            right: 100%;
            left: unset;
          }
        }
      }
    }
  }

  &__pic {
    width: 70%;

    @include tablets {
      width: 65%;
    }

    @include phones {
      width: 80%;
    }
  }

  &__ingridients-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: $whiteopac;
    left: rem(-9999px);
    top: 0;
    padding: rem(25px) rem(20px) rem(25px) rem(30px);
    border-radius: rem(4px);
    width: rem(270px);
    opacity: 0;
    transition: opacity .4s;

    @include phones {
      width: 50vw;
      padding: rem(12.5px) rem(10px) rem(12.5px) rem(15px);
    }

  }

  &__ingridients-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(10px);
    font-family: 'alegreya';
    font-size: rem(16px);
    font-weight: 400;

    @include phones {
      margin-bottom: rem(6px);
      font-size: 2vh;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__ingridients-img {
    margin-right: rem(24px);
    width: rem(51px);
    
    @include phones {
      width: rem(35px);
      height: rem(35px);
    }
  }

  &__ingridients-name {
    display: flex;
    flex-grow: 1;
  }
}
