$white: #fff;
$lightblue: #61c4d9;
$blue: #00accf;
$green: #0f5a47;
$black: #0d0d0d;
$gray: #666;
$graybar: #333;
$darkblack: #000;
$cream: #f2f5f4;
$creamy: #f8faf9;
$darkgray: #323232;
$lightgray: #281e1e;
$graybg: #2f3234;
$graytxt: #010101;
$lightgreen: #cfdeda;
$yellow: #dde3bd;
$graysoc: #b3b3b3;
$whiteopac: rgba(255, 255, 255, 0.9);
$grayplayer: #3e3e3e;
$grayplayerbtn: #626262;
$muted: #966;

@function rem($px) {
  @return $px / 16px + 0rem;
}

html {
height: 100%;
font-size: 16px;
}

body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  overflow: hidden;
  height: 100%;
}

.maincontent {
  height: 100%;
  transition: transform 1s;
}

.container {
  margin: 0 auto;
  max-width: rem(1100px);
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: rem(24px) rem(34px) rem(22px) rem(35px);
  background: $white;
  border-radius: rem(32.6px);
}

@mixin title {
  font-family: 'alegreya';
      font-size: rem(48px);
      color: $black;
      font-style: normal;
      font-weight: 600;
      text-align: center;
}

@mixin tablets {
  @media screen and (max-width: 768px){
    @content;
  }
}

@mixin phones {
  @media screen and (max-width: 480px){
    @content;
  }
}
