.comments {
  &__container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: rem(650px);
    height: 100vh;
    align-items: center;

    @include tablets {
      min-height: rem(1000px);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: rem(63px);
    padding-bottom: rem(60px);
    height: 100%;

    &:before {
      position: absolute;
      content: "";
      background: url(../img/comments_berries.png);
      width: rem(139px);
      height: rem(321px);
      left: 0;
      bottom: rem(-159px);
    }

    &:after {
      content: "";
      position: absolute;
      background: url(../img/berry3.png);
      width: rem(150px);
      height: rem(86px);
      top: rem(36px);
      right: rem(15px);
    }
  }

  &__title {
    @include title;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__post {
    display: none;
    position: relative;
    align-self: center;
    width: 81%;
    background: url(../img/comment_pattern.png);
    padding: rem(51.1px) 0 rem(34.6px) rem(45.7px);

    &--active {
      display: flex;
    }

    &-item {
      display: flex;
      flex-direction: column;
    }

    &-img {
      margin-right: rem(20px);
    }

    &-subject {
      font-family: 'alegreya';
      font-size: rem(30px);
      color: $darkgray;
      font-style: normal;
      font-weight: 500;
      margin-top: rem(15px);
      margin-bottom: rem(26px);
    }

    &-msg {
      font-family: 'alegreya';
      font-size: rem(18px);
      color: $gray;
      font-style: normal;
      font-weight: 400;
      width: 72%;
      margin: 0;
      line-height: 1.2;
      margin-bottom: rem(31px);
    }

    &-author {
      font-family: 'alegreya';
      font-size: rem(18px);
      color: $gray;
      font-style: normal;
      font-weight: 500;
    }
  }

  &__authors {

    &-list {
      display: flex;
      justify-content: center;
      align-items: center;

      li {
        margin-right: rem(10px);

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &--active {
      border: $green 6px solid;
    }

    @each $pic in (alena, girl, boy) {
      &-#{$pic} {
        width: rem(66.7px);
        height: rem(66.7px);
        overflow: hidden;
        border-radius: 50%;
      }
    }
  }
}