.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.chocco__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.contact__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
