@font-face {
  font-family: 'alegreya';
  src: url("../fonts/alegreyasans-blackitalic-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-blackitalic-webfont.woff") format("woff");
  font-weight: 900;
  font-style: italic; }

@font-face {
  font-family: 'alegreya';
  src: url("../fonts/alegreyasans-black-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-black-webfont.woff") format("woff");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'alegreya';
  src: url("../fonts/alegreyasans-bolditalic-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-bolditalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'alegreya';
  src: url("../fonts/alegreyasans-bold-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'alegreya';
  src: url("../fonts/alegreyasans-italic-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'alegreya';
  src: url("../fonts/alegreyasans-mediumitalic-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-mediumitalic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'alegreya';
  src: url("../fonts/alegreyasans-medium-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'alegreya';
  src: url("../fonts/alegreyasans-regular-webfont.woff2") format("woff2"), url("../fonts/alegreyasans-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'museosans';
  src: url("../fonts/museosanscyrl-500-webfont.woff2") format("woff2"), url("../fonts/museosanscyrl-500-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'museosans';
  src: url("../fonts/museosanscyrl-500italic-webfont.woff2") format("woff2"), url("../fonts/museosanscyrl-500italic-webfont.woff") format("woff");
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'opensans';
  src: url("../fonts/opensans-bolditalic-webfont.woff2") format("woff2"), url("../fonts/opensans-bolditalic-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: 'opensans';
  src: url("../fonts/opensans-bold-webfont.woff2") format("woff2"), url("../fonts/opensans-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'opensans';
  src: url("../fonts/opensans-extrabolditalic-webfont.woff2") format("woff2"), url("../fonts/opensans-extrabolditalic-webfont.woff") format("woff");
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'opensans';
  src: url("../fonts/opensans-extrabold-webfont.woff2") format("woff2"), url("../fonts/opensans-extrabold-webfont.woff") format("woff");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'opensans';
  src: url("../fonts/opensans-italic-webfont.woff2") format("woff2"), url("../fonts/opensans-italic-webfont.woff") format("woff");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'opensans';
  src: url("../fonts/opensans-light-webfont.woff2") format("woff2"), url("../fonts/opensans-light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'opensans';
  src: url("../fonts/opensans-regular-webfont.woff2") format("woff2"), url("../fonts/opensans-regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'opensans';
  src: url("../fonts/opensans-semibolditalic-webfont.woff2") format("woff2"), url("../fonts/opensans-semibolditalic-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'opensans';
  src: url("../fonts/opensans-semibold-webfont.woff2") format("woff2"), url("../fonts//opensans-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
    ========================================================================== */
/**
  * 1. Set default font family to sans-serif.
  * 2. Prevent iOS and IE text size adjust after device orientation change,
  *    without disabling user zoom.
  * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
  *  `em` units.
  */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
  * Remove default margin.
  */
body {
  margin: 0; }

/* HTML5 display definitions
    ========================================================================== */
/**
  * Correct `block` display not defined for any HTML5 element in IE 8/9.
  * Correct `block` display not defined for `details` or `summary` in IE 10/11
  * and Firefox.
  * Correct `block` display not defined for `main` in IE 11.
  */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
  * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
  * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
  */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
  * Prevents modern browsers from displaying `audio` without controls.
  * Remove excess height in iOS 5 devices.
  */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
  * Address `[hidden]` styling not present in IE 8/9/10.
  * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
  */
[hidden],
template {
  display: none; }

/* Links
    ========================================================================== */
/**
  * Remove the gray background color from active links in IE 10.
  */
a {
  background-color: transparent; }

/**
  * Improve readability of focused elements when they are also in an
  * active/hover state.
  */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
    ========================================================================== */
/**
  * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
  */
abbr[title] {
  border-bottom: 1px dotted; }

/**
  * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
  */
b,
strong {
  font-weight: bold; }

/**
  * Address styling not present in Safari and Chrome.
  */
dfn {
  font-style: italic; }

/**
  * Address variable `h1` font-size and margin within `section` and `article`
  * contexts in Firefox 4+, Safari, and Chrome.
  */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
  * Addresses styling not present in IE 8/9.
  */
mark {
  background: #ff0;
  color: #000; }

/**
  * Address inconsistent and variable font size in all browsers.
  */
small {
  font-size: 80%; }

/**
  * Prevent `sub` and `sup` affecting `line-height` in all browsers.
  */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
    ========================================================================== */
/**
  * 1. Remove border when inside `a` element in IE 8/9/10.
  * 2. Improves image quality when scaled in IE 7.
  */
img {
  border: 0; }

/**
  * Correct overflow not hidden in IE 9/10/11.
  */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
    ========================================================================== */
/**
  * Address margin not present in IE 8/9 and Safari.
  */
figure {
  margin: 1em 40px; }

/**
  * Address differences between Firefox and other browsers.
  */
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
  * Contain overflow in all browsers.
  */
pre {
  overflow: auto; }

/**
  * Address odd `em`-unit font size rendering in all browsers.
  * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
  */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
    ========================================================================== */
/**
  * Known limitation: by default, Chrome and Safari on OS X allow very limited
  * styling of `select`, unless a `border` property is set.
  */
/**
  * 1. Correct color not being inherited.
  *  Known issue: affects color of disabled elements.
  * 2. Correct font properties not being inherited.
  * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
  * 4. Improves appearance and consistency in all browsers.
  */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */
button {
  overflow: visible; }

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */
button,
select {
  text-transform: none; }

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *  and `video` controls.
  * 2. Correct inability to style clickable `input` types in iOS.
  * 3. Improve usability and consistency of cursor style between image-type
  *  `input` and others.
  * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
  *  Known issue: inner spacing remains in IE 6.
  */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
  * Re-set default cursor for disabled elements.
  */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
  * Remove inner padding and border in Firefox 4+.
  */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */
input {
  line-height: normal; }

/**
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  *  Known issue: excess padding remains in IE 6.
  */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
  * Fix the cursor style for Chrome's increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
  */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */ }

/**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
  * Define consistent border, margin, and padding.
  */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
  * 1. Correct `color` not being inherited in IE 8/9/10/11.
  * 2. Remove padding so people aren't caught out if they zero out fieldsets.
  * 3. Corrects text not wrapping in Firefox 3.
  * 4. Corrects alignment displayed oddly in IE 6/7.
  */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
  * Remove default vertical scrollbar in IE 8/9/10/11.
  */
textarea {
  overflow: auto; }

/**
  * Don't inherit the `font-weight` (applied by a rule above).
  * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
  */
optgroup {
  font-weight: bold; }

/* Tables
    ========================================================================== */
/**
  * Remove most spacing between table cells.
  */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

html {
  height: 100%; }

body {
  height: 100%;
  margin: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.wrapper {
  overflow: hidden; }

.container {
  margin: 0 auto;
  max-width: 1100px; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

.btn {
  display: inline-block;
  padding: 24px 34px 22px 35px;
  background: #fff;
  border-radius: 32.6px; }

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.chocco__logo {
  max-width: 55px;
  font-family: 'museosans';
  font-size: 24px;
  color: #fff;
  line-height: 21px;
  font-style: normal;
  font-weight: 500;
  margin-left: 80px; }

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.navigation__item {
  margin-right: 27px; }
  .navigation__item:last-child {
    margin-right: 0; }

.navigation__link {
  font-family: 'alegreya';
  font-size: 18px;
  color: #fff;
  line-height: 1.67;
  font-style: normal; }

.contact-phone:before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 11px;
  background: url(../img/phone.png);
  margin-right: 4px; }

.contact-phone .contact-number {
  font-family: 'alegreya';
  font-size: 24px;
  color: #fff;
  line-height: 1.25;
  font-style: normal;
  margin-right: 80px; }

.welcome {
  background-color: #61c4d9; }
  .welcome__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-image: url(../img/pattern.png);
    background-position: center right;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 650px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .welcome__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    padding-top: 23px;
    padding-bottom: 49px; }
  .welcome__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 77%; }
    .welcome__info:before {
      content: "";
      position: absolute;
      background: url(../img/leaf3.png) no-repeat;
      width: 59px;
      height: 112px;
      left: 31px;
      bottom: -101px; }
    .welcome__info:after {
      content: "";
      position: absolute;
      background: url(../img/leaf2.png) no-repeat;
      width: 141px;
      height: 105px;
      right: 288px;
      bottom: -79px; }
    .welcome__info-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      height: 100%;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding-left: 28px; }

.order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 82%;
  height: 72.5%;
  padding-top: 0px; }
  .order__title {
    font-family: 'alegreya';
    font-size: 60px;
    color: #fff;
    line-height: 1;
    font-style: normal;
    font-weight: bold; }
  .order__desc {
    font-family: 'alegreya';
    font-size: 21px;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    width: 70%;
    margin: 0;
    line-height: 1.15;
    padding-bottom: 2px; }
  .order__link {
    font-family: 'alegreya';
    font-size: 19px;
    color: #0f5a47;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase; }

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .advantages:before {
    content: "";
    position: absolute;
    background: url(../img/berry2.png) no-repeat;
    width: 111px;
    height: 108px;
    right: 87px;
    bottom: -95px; }
  .advantages:after {
    content: "";
    position: absolute;
    background: url(../img/berry1.png) no-repeat;
    width: 220px;
    height: 208px;
    right: 255px;
    bottom: -12px; }
  .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 78.22%; }
    .advantages__list-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-family: 'alegreya';
      font-size: 16px;
      color: #fff;
      font-style: normal;
      font-weight: 400;
      width: 26%;
      margin-right: 58px; }
      .advantages__list-item:last-child {
        margin-right: 0; }
      .advantages__list-item-img {
        margin-right: 9px; }
      .advantages__list-item-text {
        line-height: 1.15; }

.welcome__bars-img {
  position: relative;
  width: 45.72%; }
  .welcome__bars-img:before {
    content: "";
    position: absolute;
    background: url(../img/leaf1.png) no-repeat;
    width: 236px;
    height: 203px;
    right: 15px;
    bottom: 42px;
    z-index: 1; }

.bars-pic {
  position: relative;
  top: -100px;
  right: 27px; }

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  min-height: 650px;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url(../img/leaf_pattern.png) left center no-repeat; }
  .about__container:before {
    content: "";
    position: absolute;
    background: url(../img/malina.png) no-repeat;
    width: 161px;
    height: 315px;
    left: 0px;
    bottom: -108px; }

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.about__chocco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 42%;
  margin-bottom: 55px; }
  .about__chocco-title {
    font-family: 'alegreya';
    font-size: 48px;
    color: #0d0d0d;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    margin-bottom: 12px; }
  .about__chocco-text {
    font-family: 'alegreya';
    font-size: 18px;
    color: #666;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    margin: 0;
    line-height: 1.15; }

.about__qualities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }
  .about__qualities-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .about__qualities-item:after {
      content: "";
      position: absolute;
      background: url(../img/points.png) no-repeat;
      width: 67px;
      height: 21px;
      left: 285px;
      top: 50px; }
    .about__qualities-item:last-child:after {
      display: none; }
    .about__qualities-item-desc {
      text-align: center; }
      .about__qualities-item-desc h3 {
        font-family: 'alegreya';
        font-size: 27px;
        color: #000;
        font-style: normal;
        font-weight: 400;
        margin-bottom: 21px; }
      .about__qualities-item-desc p {
        font-family: 'alegreya';
        font-size: 18px;
        color: #666;
        font-style: normal;
        font-weight: 300;
        line-height: 1.25;
        margin: 0; }
    .about__qualities-item-img {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 125px;
      height: 125px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background: #f2f5f4;
      border-radius: 50%;
      margin-bottom: 30px; }
    .about__qualities-item-pic {
      width: 75px;
      height: 75px; }

.comments__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  min-height: 650px;
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.comments__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 63px;
  padding-bottom: 60px;
  height: 100%; }
  .comments__content:before {
    position: absolute;
    content: "";
    background: url(../img/comments_berries.png);
    width: 139px;
    height: 321px;
    left: 0px;
    bottom: -159px; }
  .comments__content:after {
    content: "";
    position: absolute;
    background: url(../img/berry3.png);
    width: 150px;
    height: 86px;
    top: 36px;
    right: 15px; }

.comments__title {
  font-family: 'alegreya';
  font-size: 48px;
  color: #0d0d0d;
  font-style: normal;
  font-weight: 600;
  text-align: center; }

.comments__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.comments__post {
  display: none;
  position: relative;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  width: 81%;
  background: url(../img/comment_pattern.png);
  padding: 51.1px 0 34.6px 45.7px; }
  .comments__post--active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .comments__post-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .comments__post-img {
    margin-right: 20px; }
  .comments__post-subject {
    font-family: 'alegreya';
    font-size: 30px;
    color: #323232;
    font-style: normal;
    font-weight: 500;
    margin-top: 15px;
    margin-bottom: 26px; }
  .comments__post-msg {
    font-family: 'alegreya';
    font-size: 18px;
    color: #666;
    font-style: normal;
    font-weight: 400;
    width: 72%;
    margin: 0;
    line-height: 1.2;
    margin-bottom: 31px; }
  .comments__post-author {
    font-family: 'alegreya';
    font-size: 18px;
    color: #666;
    font-style: normal;
    font-weight: 500; }

.comments__authors-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .comments__authors-list li {
    margin-right: 10px; }
    .comments__authors-list li:last-child {
      margin-right: 0; }

.comments__authors--active {
  border: #0f5a47 6px solid; }

.comments__authors-alena {
  width: 66.7px;
  height: 66.7px;
  overflow: hidden;
  border-radius: 50%; }

.comments__authors-girl {
  width: 66.7px;
  height: 66.7px;
  overflow: hidden;
  border-radius: 50%; }

.comments__authors-boy {
  width: 66.7px;
  height: 66.7px;
  overflow: hidden;
  border-radius: 50%; }

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
  min-height: 650px; }

.team__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 7% 7%;
  width: 100%; }
  .team__content:before {
    content: "";
    position: absolute;
    background: url(../img/raspberry.png);
    width: 104px;
    height: 114px;
    bottom: -43px;
    left: 35px; }
  .team__content:after {
    content: "";
    position: absolute;
    background: url(../img/blueberries.png);
    width: 135px;
    height: 112px;
    top: -40px;
    right: 13px; }

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
  -ms-flex: row wrap;
  flex: row wrap;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%; }

.team__title {
  font-family: 'alegreya';
  font-size: 48px;
  color: #0d0d0d;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  margin-bottom: 64px; }

.team__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 25%; }
  .team__item-img {
    max-width: 220px;
    max-height: 288px;
    margin-bottom: 20px; }

.team__member {
  position: relative;
  width: 100%; }
  .team__member-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: 'alegreya';
    font-size: 21px;
    font-weight: 400;
    color: #323232;
    margin-bottom: 13px; }
    .team__member-name:after {
      content: "";
      position: relative;
      border: 6px solid transparent;
      width: 0;
      height: 0;
      border-top-color: #0f5a47;
      border-bottom-width: 0px;
      border-left-width: 5px;
      border-right-width: 5px;
      right: -6px;
      top: 2px; }
  .team__member-about {
    position: absolute;
    height: 0;
    overflow: hidden;
    top: 31px; }
  .team__member--active .team__member-about {
    overflow: visible; }
  .team__member-position {
    font-family: 'alegreya';
    font-size: 18px;
    font-weight: 400;
    color: #281e1e;
    margin-bottom: 6px; }
  .team__member-desc {
    font-family: 'alegreya';
    font-size: 18px;
    font-weight: 300;
    color: #666;
    margin: 0;
    line-height: 1.15; }
  .team__member--active .team__member-name:after {
    border-bottom-color: #0f5a47;
    border-bottom-width: 6px;
    border-top-width: 0px; }
