.menu {
  background-image: url(../img/menu_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  &__container {
    position: relative;
    height: 100vh;
    min-height: rem(650px);

    @include tablets {
      min-height: 0;
    }
  }

  &__title {
    display: inline-block;
    position: absolute;
    @include title;
    color: $white;
    text-align: left;
    top: 14.25%;
    left: 4%;

    @include phones {
      font-size: 7vw;
    }
  }

  &__list {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;

    @include phones {
      width: 100%;
      justify-content: flex-end;
    }
  }

  &__item {
    display: flex;

    &--active {
      @include phones {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
      }
    }

    &-title {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      width: rem(100px);

      @include phones {
        width: 16vw;
      }
    }

    &-title-text {
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      font-family: 'alegreya';
      font-size: rem(48px);
      font-weight: 300;
      color: $white;
      margin-bottom: rem(42px);

      @include phones {
        font-size: 7vw;
        margin-bottom: rem(25px);
      }
    }

    &-desc {
      position: relative;
      width: 0;
      overflow: hidden;
      background: rgba($color: $graybg, $alpha: 0.93);

      @include phones {
        z-index: 5;
      }
    }

    &-desc-text {
      font-family: 'alegreya';
      font-size: rem(16px);
      font-weight: 400;
      line-height: 1.5;
      color: $white;
      margin: 0;
      padding: 8.5% 22% 0 6%;

      @include phones {
        font-size: 4vw;
        padding: 19.5% 8% 0 6%;
      }
    }

    &-desc-close {
      display: block;
      position: absolute;
      width: rem(2.5px);
      height: rem(25px);
      border-radius: rem(2.5px);
      top: rem(21px);
      right: rem(37px);
      background: rgba($color: $white, $alpha: 0.7);
      transform: rotate(45deg);
    }

    &-desc-close:after {
      content: "";
      display: block;
      position: absolute;
      width: rem(2.55px);
      height: rem(25.5px);
      border-radius: rem(2.5px);
      top: 0;
      right: 0;
      background: rgba($color: $white, $alpha: 0.7);
      transform: rotate(-90deg);
    }

    &--active {
      .menu__item-desc {
        overflow: visible;
        width: rem(530px);

        @include tablets {
          width: 83%;
        }

        @include phones {
          width: 84%;
        }
      }
    }
  }
}

@each $bg in (milk, honeyfruits, wildberries) {
  .title-#{$bg} {
    background-image: url(../img/#{$bg}_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}