.order {
  background-color: $lightgreen;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: rem(650px);
    width: 100%;
    background-image: url(../img/order_bg.png);
    background-repeat: repeat-y;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    width: 85.5%;
  }
  
  &__title {
    @include title;
    color: $green;
    margin-bottom: rem(44px);
  }

  &__form {
    display: flex;
    justify-content: space-between;

    &-req {
      width: 49%;
    }

    &-feedback {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 49%;

      .order__form-row {
        flex-wrap: wrap;
        margin-bottom: rem(20px);

        &:nth-last-child(2){
          margin-bottom: rem(40px);
        }
      }
    }

    &-title {
      font-family: 'alegreya';
      font-size: rem(18px);
      font-weight: 300;
      color: $green;
      margin-bottom: rem(10px);
    }

    &-row {
      display: flex;
      margin-bottom: rem(16px);

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-item {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      width: calc(100% / 4 - 20px * 4);
      margin-left: rem(20px);

      textarea {
        min-height: rem(143px);
        resize: none;
      }

      &:first-child {
        margin-left: 0;
      }
    }

    &-flag {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 41.5%;
      margin-bottom: rem(8px);

      &:last-child {
        margin-bottom: 0;
      }


      .order__form-title {
        margin-bottom: 0;
      }
    }

    &-input {
      padding: rem(18.5px) rem(11px);
      font-family: 'alegreya';
      font-size: rem(18px);
      font-weight: 300;
      color: $darkblack;
      outline: transparent solid 3px;
      
      &:focus {
        outline: $yellow solid 3px;
      }

      &:focus::placeholder {
        color: $darkblack;
      }
    }

    &-submit {
      color: $white;
      background-color: $green;
      border-width: 0;
      margin-right: rem(30px);

      &:focus {
        outline: 1px solid $green;
      }
      &:active {
        outline: 1px solid $green;
      }
    }

    &-reset {
      font-family: 'alegreya';
      font-size: rem(18px);
      font-weight: 300;
      color: $green;
      background-color: transparent;
      border-width: 0;

      &:focus {
        outline: 1px solid $green;
      }
      &:active {
        outline: 1px solid $green;
      }
    }

    &-radio {
      display: block;
      position: relative;
      width: rem(26px);
      height: rem(26px);
      margin-right: rem(8px);

      &:focus:before {
        outline: 1px solid $green;
      }
      &:active:before {
        outline: 1px solid $green;
      }
      
      &:before {
        content: "";
        position: absolute;
        display: block;
        width: rem(26px);
        height: rem(26px);
        background-color: $white;
        border-radius: 50%;
      }
      &:after {
        content: "";
        position: absolute;
        display: none;
        width: rem(14px);
        height: rem(14px);
        background-color: $green;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
      
      &:checked:after {
        display: block;
      }
    }

    &-checkbox {
      position: relative;
      width: rem(26px);
      height: rem(26px);
      margin-right: rem(8px);

      &:before {
        content: "";
        position: absolute;
        display: block;
        width: rem(26px);
        height: rem(26px);
        background-color: $white;
      }
      &:after {
        content: "";
        position: absolute;
        display: none;
        width: rem(11px);
        height: rem(9px);
        background: url(../img/cb_v.png) no-repeat;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }

      &:focus:before {
        outline: 1px solid $green;
      }
      &:active:before {
        outline: 1px solid $green;
      }
      
      &:checked:after {
        display: block;
      }
    }
  }

}