.team {
  &__container {
    display: flex;
    position: relative;
    align-items: center;
    height: 100vh;
    min-height: 650px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0 7% 7%;
    width: 100%;

    &:before {
      content: "";
      position: absolute;
      background: url(../img/raspberry.png);
      width: 104px;
      height: 114px;
      bottom: -43px;
      left: 35px;
      z-index: 5;
    }

    &:after {
      content: "";
      position: absolute;
      background: url(../img/blueberries.png);
      width: 135px;
      height: 112px;
      top: -40px;
      right: 13px;
    }
  }
  
  &__list {
    display: flex;
    flex: row wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  &__title {
    @include title;
    margin-bottom: 64px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 25%;

    &-img {
      max-width: 220px;
      max-height: 288px;
      margin-bottom: 20px;
    }
  }

  &__member {
    position: relative;
    width: 100%;

    &-name {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'alegreya';
      font-size: 21px;
      font-weight: 400;
      color: $darkgray;
      margin-bottom: 13px;

      &:after {
        content: "";
        position: relative;
        border: 6px solid transparent;
        width: 0;
        height: 0;
        border-top-color: $green;
        border-bottom-width: 0px;
        border-left-width: 5px;
        border-right-width: 5px;
        right: -6px;
        top: 2px;
      }
    }

    &-about {
      position: absolute;
      height: 0;
      overflow: hidden;
      top: 31px;
    }

    &--active {
      .team__member-about {
        overflow: visible;
      }
    }

    &-position {
      // display: none;
      font-family: 'alegreya';
      font-size: 18px;
      font-weight: 400;
      color: $lightgray;
      margin-bottom: 6px;
    }

    &-desc {
      // display: none;
      font-family: 'alegreya';
      font-size: 18px;
      font-weight: 300;
      color: $gray;
      margin: 0;
      line-height: 1.15;
    }

    &--active {
      .team__member-name:after {
        border-bottom-color: $green;
        border-bottom-width: 6px;
        border-top-width: 0px;
      }
    }
  }
}