@import "./header.scss";

.welcome {

  background-color: $lightblue;

  &__container {
    display: flex;
    position: relative;
    flex-direction: column;
    background-image: url(../img/pattern.png);
    background-position: center right;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: rem(650px);
    justify-content: space-between;

    @include tablets {
      min-width: 0;
      background-size: contain;
    }

     &:before {
    content: "";
    position: absolute;
    background: url(../img/leaf3.png);
    width: rem(59px);
    height: rem(112px);
    left: rem(32px);
    bottom: rem(-50px);

    @include tablets {
      display: none;
    }
  }
     &:after {
    content: "";
    position: absolute;
    background: url(../img/leafnberries.png);
    width: rem(460px);
    height: rem(341px);
    right: rem(15px);
    bottom: rem(-46px);
    z-index: 0;

    @include tablets {
      display: none;
    }
  }

    @include tablets {
      min-height: 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-top: rem(23px);
    padding-bottom: rem(49px);

    @include tablets {
      
    }
  }

  &__info {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 98%;

    @include tablets {
      flex-direction: column-reverse;
      height: 75%;
    }

    // &:before {
    //   content: "";
    //   position: absolute;
    //   background: url(../img/leaf3.png) no-repeat;
    //   width: rem(59px);
    //   height: rem(112px);
    //   left: rem(31px);
    //   bottom: rem(-101px);
    // }

    // &:after {
    //   content: "";
    //   position: absolute;
    //   background: url(../img/leaf2.png) no-repeat;
    //   width: rem(141px);
    //   height: rem(105px);
    //   right: rem(288px);
    //   bottom: rem(-79px);
    // }

  }
}

.booking {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: rem(78px);
  padding-bottom: rem(25px);
  width: 46%;
  // padding-top: rem(11px);
  // flex-shrink: 1;
  
  
  @include tablets {
    width: 90%;
    padding: 0;
    align-items: center;
    text-align: center;
    font-size: 1.9vh;
  }

  &__title {
    font-family: 'alegreya';
    font-size: rem(60px);
    color: $white;
    line-height: 1;
    font-style: normal;
    font-weight: bold;
    margin-bottom: rem(11px);
    
    @include tablets {
      font-size: 9vmin;
    }
  }

  &__desc {
    font-family: 'alegreya';
    // font-size: rem(21px);
    color: $white;
    font-style: normal;
    font-weight: 400;
    width: 70%;
    margin: 0;
    line-height: 1.15;
    margin-bottom: rem(17px);
    
    @include tablets {
      font-size: 5vmin;
      width: 100%;
    }
  }

  &__link {
    font-family: 'alegreya';
    font-size: rem(19px);
    color: $green;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color .4s;
    &:hover {
      background-color: $yellow;
      transition: background-color .4s;
    }
    &:focus {
      background-color: $yellow;
      transition: background-color .4s;
    }

    @include tablets {
      padding: 2.4vh 3.4vh 2.2vh 3.5vh;
      border-radius: 3.26vh;
      font-size: 1.9vh;
    }
  }

}

.advantages {
  display: flex;
  justify-content: flex-start;
  position: relative;
  top: rem(-42px);
  z-index: 5;
  
  @include tablets {
    justify-content: space-evenly;
    top: rem(42px);
  }
  // &:before {
  //   content: "";
  //   position: absolute;
  //   background: url(../img/berry2.png) no-repeat;
  //   width: rem(111px);
  //   height: rem(108px);
  //   right: rem(87px);
  //   bottom: rem(-95px);
  // }

  // &:after {
  //   content: "";
  //   position: absolute;
  //   background: url(../img/berry1.png) no-repeat;
  //   width: rem(220px);
  //   height: rem(208px);
  //   right: rem(255px);
  //   bottom: rem(-12px);
  // }

  &__list {
    display: flex;
    justify-content: flex-start;
    margin-left: rem(82px);
    
    @include tablets {
      width: 85%;
      justify-content: space-evenly;
      margin-left: 0;
    }
    
    @include phones {
      width: 100%;
    }
    
    &-item {
      display: flex;
      font-family: 'alegreya';
      font-size: rem(16px);
      color: $white;
      font-style: normal;
      font-weight: 400;
      width: 19%;
      margin-right: rem(43px);
      
      @include tablets {
        margin-right: 0;
        width: 21%;
      }

      @include phones {
        width: 26%;
        justify-content: space-around;
      }

      &:last-child {
        margin-right: 0;
      }

      &-img {
        margin-right: rem(9px);
      }

      &-svg {
        fill:none;
        stroke: $white;
        stroke-width:0.5;
        stroke-miterlimit:10;
        @include tablets {
          width: 6.51vmin;
          height: 5.47vmin;
        }
      }

      &-text {
        line-height: 1.15;

        @include tablets {
          font-size: 2.1vmin;
        }
      }
    }
  }
}

.welcome__bars-img {
  display: flex;
  position: relative;
  // flex-basis: 52%;
  // width: 48%;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;

  @include tablets {
    height: 100%;
  }

  &:before {
    display: none;
    content: "";
    position: absolute;
    background-image: url(../img/leafnberriestab.png);
    background-repeat: no-repeat;
    background-size: contain;
    // width: 100%;
    // height: 100%;
    top: rem(81px);
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    @include tablets {
      display: block;
    }
  }
  // width: 100%;
  // height: auto;
  // display: flex;
  // width: 45.72%;
  // flex-grow: 1;
}

.bars-pic {
  position: relative;
  top: rem(-10px);
  right: rem(3px);
  width: 100%;
  height: auto;

  @include tablets {
    top: 0;
    right: 0;
    height: 40vh;
    width: auto;
  }
}